In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

## Data set
train.csv format : \
train_landmarks/5414471.parquet **|** 5414471 **|** 1816796431 **|** 217 **|** 
3 creekhouse \
...

In [6]:
#import the data 
train_file_path = '/kaggle/input/asl-fingerspelling/train.csv'
df = pd.read_csv(train_file_path)
df

,path,file_id,sequence_id,participant_id,phrase
0,train_landmarks/5414471.parquet,5414471,1816796431,217,3 creekhouse
1,train_landmarks/5414471.parquet,5414471,1816825349,107,scales/kuhaylah
2,train_landmarks/5414471.parquet,5414471,1816909464,1,1383 william lanier
3,train_landmarks/5414471.parquet,5414471,1816967051,63,988 franklin lane
4,train_landmarks/5414471.parquet,5414471,1817123330,89,6920 northeast 661st road
...,...,...,...,...,...
67203,train_landmarks/2118949241.parquet,2118949241,388192924,88,431-366-2913
67204,train_landmarks/2118949241.parquet,2118949241,388225542,154,994-392-3850
67205,train_landmarks/2118949241.parquet,2118949241,388232076,95,https://www.tianjiagenomes.com
67206,train_landmarks/2118949241.parquet,2118949241,388235284,36,90 kerwood circle
67207,train_landmarks/2118949241.parquet,2118949241,388332538,176,802 co 66b

In [11]:
first_line = df.iloc[0]
print(first_line)

path              train_landmarks/5414471.parquet
file_id                                   5414471
sequence_id                            1816796431
participant_id                                217
phrase                               3 creekhouse
Name: 0, dtype: object

## Open Parquets files

In [14]:
import pandas as pd

# Specify the file path to your Parquet file
file_path = '/kaggle/input/asl-fingerspelling/train_landmarks/5414471.parquet'

# Read the Parquet file using pandas
pf = pd.read_parquet(file_path)

# Now you can work with the DataFrame 'df'
# For example, you can print the first few rows
print(pf.head())

             frame  x_face_0  x_face_1  x_face_2  x_face_3  x_face_4  \
sequence_id
1816796431       0  0.710588  0.699951  0.705657  0.691768  0.699669
1816796431       1  0.709525  0.697582  0.703713  0.691016  0.697576
1816796431       2  0.711059  0.700858  0.706272  0.693285  0.700825
1816796431       3  0.712799  0.702518  0.707840  0.694899  0.702445
1816796431       4  0.712349  0.705451  0.709918  0.696006  0.705180

             x_face_5  x_face_6  x_face_7  x_face_8  ...  z_right_hand_11  \
sequence_id                                          ...
1816796431   0.701980  0.709724  0.610405  0.712660  ...        -0.245855
1816796431   0.700467  0.709796  0.616540  0.713729  ...              NaN
1816796431   0.703319  0.711549  0.615606  0.715143  ...              NaN
1816796431   0.704794  0.712483  0.625044  0.715677  ...        -0.370770
1816796431   0.706928  0.712685  0.614356  0.714875  ...              NaN

             z_right_hand_12  z_right_hand_13  z_right_hand_14  \
sequence_id
1816796431         -0.269148        -0.129743        -0.251501
1816796431               NaN              NaN              NaN
1816796431               NaN              NaN              NaN
1816796431         -0.408097        -0.185217        -0.325494
1816796431               NaN              NaN              NaN

             z_right_hand_15  z_right_hand_16  z_right_hand_17  \
sequence_id
1816796431         -0.278687        -0.266530        -0.152852
1816796431               NaN              NaN              NaN
1816796431               NaN              NaN              NaN
1816796431         -0.343373        -0.328294        -0.203126
1816796431               NaN              NaN              NaN

             z_right_hand_18  z_right_hand_19  z_right_hand_20
sequence_id
1816796431         -0.257519        -0.275822        -0.266876
1816796431               NaN              NaN              NaN
1816796431               NaN              NaN              NaN
1816796431         -0.315719        -0.326104        -0.314282
1816796431               NaN              NaN              NaN

[5 rows x 1630 columns]

In [ ]:
# To make it more readable
from IPython.display import display, HTML

# Function to create scrollable table within a small window
def create_scrollable_table(df, table_id, title):
    html = f'<h3>{title}</h3>'
    html += f'<div id="{table_id}" style="height:200px; overflow:auto;">'
    html += df.to_html()
    html += '</div>'
    return html

html = create_scrollable_table(summary_stats, 'numerical_features', 'Summary statistics for numerical features')

display(HTML(html))